<<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="mtemplate">
	<title></title>
</head>
<body>
    <div id="main_wrapper">
		<div class="container-fluid">
			<g:form controller="Salary">
				<br> basic:<input type="number" name="basic">
				<br> hra:<input type="number" name="hra">
				<br> conveyance:<input type="number" name="conveyance">
				<br> special:<input type="number" name="special">
				<br> medical:<input type="number" name="medical">
				<br> employeePF:<input type="number" name="employeePF">
				<br> employerPF:<input type="number" name="employerPF">
				<br> year:<input type="number" name="year">	
				<br> basic_proj:<input type="number" name="basic_proj">
				<br> hra_proj:<input type="number" name="hra_proj">
				<br> conveyance_proj:<input type="number" name="conveyance_proj">
				<br> special_proj:<input type="number" name="special_proj">
				<br> medical_proj:<input type="number" name="medical_proj">
				<br> employeePF_proj:<input type="number" name="employeePF_proj">
				<br> employerPF_proj:<input type="number" name="employerPF_proj">
				<input type="hidden" value="${emp.username}" name="username"></input>
				<input type="hidden" value="${emp}" name="employee"></input>
				<br> <g:actionSubmit action="save" value="Submit"/>
			</g:form>
		</div>
	</div>
</body>
</html>