<%@ page import="new1.Employee" %>
<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="layout" content="etemplate">
</head>

<body class="side_menu_active side_menu_expanded">
         
        <div id="page_wrapper">
            <!-- breadcrumbs -->
            <nav id="breadcrumbs">
                <ul>
                    <li><a href="..\employee\home">Home</a></li>    
                    <li>Gantt</li>    
                </ul>
            </nav>
            
            <!-- main content -->
            <div id="main_wrapper">
                <div class="container-fluid">
                    <!-- <div class="first"> -->
            <h1>No task has been alloted to ${session.emp.username}</h1>
                </div>
            </div>
    </body>
</html>