<<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="layout" content="etemplate">
</head>
<body>
	<div id="main_wrapper">
        <div class="container-fluid">
        	<form>
        		<select name="year">
        			<g:each var="i" in="${e}">
        			     <option value="hari">Apr - Mar </option>
                    </g:each>
        		</select>
        	</form>
        </div>
   </div>
</body>
</html>