<<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="layout" content="etemplate">
</head>
<body>
	<div id="main_wrapper">
        <div class="container-fluid">
        	<form>
        		<select name="year">
        			<!-- <g:each> -->
        			<option value="Apr ${start} - Mar ${end}"></option>
        		</select>
        	</form>
        </div>
   </div>
</body>
</html>