<<!DOCTYPE html>
<html>
<head>
	<meta name="layout" content="etemplate">
	<title>tes</title>
</head>
<body>
	<div id="main_wrapper">
		<div class="container-fluid">		
			<g:form controller="Profile" action="save" enctype="multipart/form-data">
				<input type="text" placeholder="name" name="name">
				<input type="submit" value="submit"> 
			</g:form>
		</div>
	</div>
</body>
</html>